*{
    border: 1px solid red !important;
}

*{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: :border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
}



body{
    background: rgb(255, 255, 255);
    font-family: 'Slabo 27px', serif;
}

.circle{
    border-radius:50%;
    border: 20px solid black;
    }

img{
    max-width: 100%;
    max-height: 100%;
}

p{
    font-size: 20px;
}
#dev-logo{
    padding-left: 0px;
    padding-right: 0px;
}